.main-nav {
  position: absolute;
  width: 100%;
  background: @purple;
  color: @white;
  z-index: 1;
  &__list {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    text-align: center;
    @media @mobile {
      margin: 10px 0;
    }
    @media @desktop {
      margin: 40px 0;
    }

  }
  &__link {
    color: @white;
    text-transform: capitalize;
    &:hover {
      color: @yellow;
    }
  }
}
